<!DOCTYPE html>
<html lang="en" x-data x-bind:data-theme="$store.theme.theme">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />
    <meta property="og:title" content="<%- title %>" />
    <script>
      // here for server-side rendering
      window.defaultConfig = {
        theme: 'light',
        lang: 'zh-Hans',
        comments: {
          giscus: {
            repo: 'misitebao/static-theme-misipage',
            'repo-id': 'R_kgDOGUwLQA',
            category: 'Comments',
            'category-id': 'DIC_kwDOGUwLQM4CR-Bm',
            mapping: 'og:title',
            strict: '1',
            'reactions-enabled': '1',
            'emit-metadata': '0',
            'input-position': 'bottom',
            theme: '',
          },
        },
      };
    </script>
  </head>

  <body class="bg-base">
    <div id="app">
      <!-- Header Start -->
      <header class="fixed top-0 w-full backdrop-blur-lg bg-white/10">
        <div class="mobile text-center">Mobile...</div>
        <div class="desktop shadow-sm shadow-black-600">
          <div
            class="flex flex-nowrap items-center justify-between mx-auto max-w-screen-2xl h-14 px-5"
          >
            <div class="logo flex flex-nowrap items-center cursor-pointer">
              <a href="/" class="block w-10 h-10 rounded-full overflow-hidden">
                <img
                  src="https://cdn.jsdelivr.net/gh/misitebao/static@main/gravatar-bg-white.png"
                  alt="Misite Bao"
                />
              </a>
              <a href="/" class="block leading-none ml-2 text-xl font-bold"> Misite Bao </a>
            </div>

            <div class="flex flex-nowrap items-center">
              <nav class="menu">
                <ul class="flex flex-nowrap items-center">
                  <li class="mx-1">
                    <a
                      href="/"
                      class="flex items-center leading-none px-2 py-1.5 tracking-wide rounded-sm text-base hover:text-primary text-primary"
                    >
                      <!-- <i class="fa-solid fa-house"></i> -->
                      <span>Home</span>
                    </a>
                  </li>
                  <li class="mx-1">
                    <a
                      href="/"
                      class="flex items-center leading-none px-2 py-1.5 tracking-wide rounded-sm text-base hover:text-primary"
                    >
                      <!-- <i class="fa-solid fa-clone"></i> -->
                      <span>Projects</span>
                    </a>
                  </li>
                  <li class="mx-1">
                    <a
                      href="/"
                      class="flex items-center leading-none px-2 py-1.5 tracking-wide rounded-sm text-base hover:text-primary"
                    >
                      <!-- <i class="fa-solid fa-heart"></i> -->
                      <span>Sponsors</span>
                    </a>
                  </li>
                  <li class="mx-1">
                    <a
                      href="/"
                      class="flex items-center leading-none px-2 py-1.5 tracking-wide rounded-sm text-base hover:text-primary"
                    >
                      <!-- <i class="fa-solid fa-heart"></i> -->
                      <span>Videos</span>
                    </a>
                  </li>
                  <li class="mx-1">
                    <a
                      href="/"
                      class="flex items-center leading-none px-2 py-1.5 tracking-wide rounded-sm text-base hover:text-primary"
                    >
                      <!-- <i class="fa-solid fa-heart"></i> -->
                      <span>About</span>
                    </a>
                  </li>
                  <li class="mx-1">
                    <a
                      href="/"
                      class="flex items-center leading-none px-2 py-1.5 tracking-wide rounded-sm text-base hover:text-primary"
                    >
                      <!-- <i class="fa-solid fa-heart"></i> -->
                      <span>Links</span>
                    </a>
                  </li>

                  <!-- <li class="mx-1">
                    <div
                      class="flex flex-wrap items-center relative gap-x-0.5 leading-none tracking-wide rounded-sm text-sm group"
                    >
                      <span class="px-2 py-1.5 cursor-pointer">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-5 h-5"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802"
                          />
                        </svg>
                      </span>
                      <ul
                        class="absolute top-9 left-1/2 -translate-x-1/2 p-3 rounded-sm bg-slate-500 group-hover:block"
                      >
                        <li>English</li>
                        <li>English</li>
                        <li>English</li>
                      </ul>
                    </div>
                  </li> -->
                </ul>
              </nav>
              <div class="flex flex-wrap items-center relative mx-4 text-sm group">
                <span class="px-2 py-1.5 cursor-pointer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802"
                    />
                  </svg>
                </span>
                <div
                  class="absolute top-8 left-1/2 -translate-x-1/2 min-w-[120px] pt-2 bg-transparent hidden group-hover:block"
                >
                  <ul class="p-2 bg-white rounded-sm overflow-hidden shadow-md group-hover:block">
                    <li class="mb-1">
                      <a
                        class="block min-w-max px-2 py-1 rounded-sm hover:text-primary hover:bg-slate-100 bg-slate-100 text-primary"
                        href="#"
                        >English</a
                      >
                    </li>
                    <li class="my-1">
                      <a
                        class="block min-w-max px-2 py-1 rounded-sm hover:text-primary hover:bg-slate-100"
                        href="#"
                        >简体中文</a
                      >
                    </li>
                    <li class="my-1">
                      <a
                        class="block min-w-max px-2 py-1 rounded-sm hover:text-primary hover:bg-slate-100"
                        href="#"
                        >Русский</a
                      >
                    </li>
                    <li class="mt-1">
                      <a
                        class="block min-w-max px-2 py-1 rounded-sm hover:text-primary hover:bg-slate-100"
                        href="#"
                        >Français</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mx-2">
                <a
                  href="https://github.com/misitebao"
                  class="flex gap-x-0.5 rounded px-5 py-3 bg-primary hover:bg-slate-50 tracking-wide leading-4 text-sm text-white"
                >
                  <span>Follow Me</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Header End -->

      <!-- Main Start -->
      <main class="py-24">
        <div class="container mx-auto px-3 lg:px-5 lg:max-w-screen-xl">
          <div class="flex">
            <div class="order-2 lg:order-1">2</div>
            <div class="order-1 lg:order-2">1</div>
          </div>
        </div>
        <div class="container mx-auto px-3 lg:px-5 lg:max-w-screen-lg">
          <div
            class="mx-auto w-28 h-28"
            x-on:click="$store.theme.changeTheme($store.theme.theme==='light'?'dark':'light')"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/misitebao/static@main/gravatar-bg-white.png"
              alt="Misite Bao"
              class="rounded-full ring-8 ring-gray-400"
            />
          </div>
          <!-- Content -->
          <article class="mx-auto py-12 max-w-none prose-base prose-stone prose dark:prose-invert">
            <h1 id="米司特包">米司特包</h1>
            <p>大家好，我是 米司特包，是一名软件开发者和开源贡献者，同时也是一个自媒体博主。</p>
            <p>目前主要使用 Go、Nodejs、JavaScript 等技术，我大部分时间活跃在开源社区。</p>
            <p>
              我目前正在开发 <a href="https://github.com/tigateam/tigago">Tigago</a>、<a
                href="https://github.com/misitebao/yakia"
                >Yakia</a
              >
              和其他应用程序，同时也是
              <a href="https://github.com/wailsapp/wails">Wails</a>
              社区的活跃成员。如果你有兴趣可以在
              <a href="https://github.com/misitebao">GitHub</a>、<a
                href="https://weibo.com/misitebao"
                >微博</a
              >
              和 <a href="https://space.bilibili.com/97480642/">哔哩哔哩</a> 上关注我。
            </p>
            <p>
              如果你说 <a href="https://misitebao.com/">英文</a>，也可以在
              <a href="https://twitter.com/misitebao">Twitter</a> 和
              <a href="https://www.youtube.com/channel/UCGlgW9t0HnKDlkcS1dH7X3g">Youtube</a>
              找到我。
            </p>
            <p>
              除了编程以外，我还喜欢科幻电影和电子游戏。我经常玩的游戏有英雄联盟、绝地求生、和平精英。
            </p>

            <!-- <h1 id="misite-bao">Misite Bao</h1> -->
            <p>
              Hello everyone, my name is Misite Bao, a software developer and open source
              contributor, as well as a self-media blogger.
            </p>
            <p>
              At present, I mainly use technologies such as Go, Nodejs, JavaScript, etc. I am active
              in the open source community most of the time.
            </p>
            <p>
              I&rsquo;m currently developing
              <a href="https://github.com/tigateam/tigago">Tigago</a> 和
              <a href="https://github.com/misitebao/yakia">Yakia</a>, and other applications, and am
              an active member of the
              <a href="https://github.com/wailsapp/wails">Wails</a> community. If you are
              interested, you can follow me on <a href="https://github.com/misitebao">GitHub</a>,
              <a href="https://twitter.com/misitebao">Twitter</a> and
              <a href="https://www.youtube.com/channel/UCGlgW9t0HnKDlkcS1dH7X3g">Youtube</a>.
            </p>
            <p>
              If you speak <a href="https://misitebao.com/zh-hans">Chinese</a>, you can also find me
              on <a href="https://weibo.com/misitebao">Weibo</a> and
              <a href="https://space.bilibili.com/97480642/">Bilibili</a>.
            </p>
            <p>
              Besides programming, I also like sci-fi movies and video games. The games I often play
              are League of Legends, PLAYERUNKNOWN’S BATTLEGROUNDS, and Game For Peace.
            </p>
            <p>
              By default, Tailwind removes all of the default browser styling from paragraphs,
              headings, lists and more. This ends up being really useful for building application
              UIs because you spend less time undoing user-agent styles, but when you
            </p>

            <p>
              By default, Tailwind removes all of the default browser styling from paragraphs,
              headings, lists and more. This ends up being really useful for building application
              UIs because you spend less time undoing user-agent styles, but when you
              <em>really are</em> just trying to style some content that came from a rich-text
              editor in a CMS or a markdown file, it can be surprising and unintuitive.
            </p>
            <blockquote>
              <p>
                Why is Tailwind removing the default styles on my <code>h1</code> elements? How do I
                disable this? What do you mean I lose all the other base styles too?
              </p>
            </blockquote>
          </article>

          <!-- Comments -->
          <div id="giscus" class="giscus"></div>
        </div>
      </main>

      <!-- Main End -->

      <!-- Footer Start -->
      <footer class="bg-white">
        <div class="container mx-auto px-4 py-2">
          <div class="text-center">
            由 <a href="https://gohugo.io/" title="Hugo">Hugo</a> 强力驱动 | 使用
            <a href="https://github.com/misitebao/hugo-theme-misipage" title="Misipage">Misipage</a>
            主题
          </div>
          <div class="text-center">
            @Copyright 2022 米司特包 |
            <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" title="备案"
              >鄂ICP备20006255号</a
            >
          </div>
        </div>
      </footer>
      <!-- Footer End -->
    </div>
    <script type="module" src="./src/pages/index/main.js"></script>
  </body>
</html>
