@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  ::-webkit-scrollbar-thumb {
    background: #d6dafe;
    border-radius: 100vh;
    border: 2px solid #f6f7ed;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d6dafe;
    cursor: pointer;
  }
}
